// Colors
$white: #ffffff;
$grey: #ecedf3;
$dark: #333333;
$border_clr: #dee1eb;
$blue: #225081;
$l_blue: #00b9ff;
$green: #00a300;
$footer_line: #dbdde5;
$text_clr: #989cab;
$hamb_clr: #292728;

// fixed
$border_r: 3px;
$border: 1px solid $border_clr;
$intup_p: 19.5px 15px;


// font-family
$bold: "Open-Sans-Bold";
$reg: "Open-Sans";
$lig: "Open-Sans-Light";
$ligit: "Open-Sans-Light-Italic";
$semib: "OpenSans-Semibold";
$rreg: "Roboto";
$rmed: "Roboto-medium";
$rlig: "Roboto-light";

$container_width: 1200px;