body{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
}
ul{
    margin: 0;
    padding: 0;
}

.table{
    width: 100%;
    min-height: 100vh;
    background-color: #084D00;
    padding-top: 100px;
}
.desck {
    width: 180px;
    height: 250px;
    background-color: rgba(142, 142, 142, 0.31);
    margin: auto;
    position: relative;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    height: 250px;
    width: 180px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid;
}

.suit{
    background-image: url('../img/index.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 120%;
    position: absolute;
    z-index: 1;
    background-position: center;
}

.card:before{
    content:attr(data-value);
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 5px;
    font-size: 24px;
    font-weight: bold;
}

.card__spades:before, .card__clubs:before{
    color: #000;
}

.card__hearts:before, .card__diams:before{
    color: #f80012;
}

.card:after{
    content:'';
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 7px;
    font-size: 24px;
    font-weight: bold;
}

.card__spades:after{
    content:'\2660';
}
.card__clubs:after{
    content:'\2663';
}

.card__hearts:after{
    content:'\2665';
    color: #f80012;
}
.card__diams:after{
    content:'\2666';
    color: #f80012;
}

.players {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.player {
    min-height: 250px;
    min-width: 180px;
    max-width: 500px;
    display: block;
    position: relative;
}

.player .card{
    position: relative;
    display: inline-block;
    margin-left: -140px;
}

.player .card .suit{
    display: none;
}

.player .card:nth-child(2){
    margin-left: 0;
}

.game_inputs{
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
}

.gamers{
    margin-bottom: 10px;
    height:20px;
}

.deal_cards{
    display: inline-block;
    padding: 10px 20px 7px;
    font-size: 24px;
    color: #0b1648;
    background-color: #ffa300;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.deal_cards.no_active{
    pointer-events: none;
    opacity: .5;
}

.more, .enough{
    display: inline-block;
    padding: 8px 10px 5px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 20px;
}

.more{
    color: #0b1648;
    background-color: #ffed06;
}

.enough{
    color: #fff;
    background-color: #ff001c;
}

.points{
    position: absolute;
    top:0;
    right: 0;
    color: #fff;
    font-size: 14px;
}

.enough_cards > a{
    pointer-events: none;
    opacity: .5;
}

.player.winner.end::before {
    content: 'WINNER!!!';
    display: inline-block;
    position: absolute;
    font-size: 36px;
    top: 50%;
    left: 50%;
    z-index: 1;
    color: #084d00;
    transform: translate(-50%);
    font-weight: bold;
}

.player.lost.end::before {
    content: 'LOOSER!!!';
    display: inline-block;
    position: absolute;
    font-size: 36px;
    top: 50%;
    left: 50%;
    z-index: 1;
    color: #f80012;
    transform: translate(-50%);
    font-weight: bold;
}